@media (max-height:420px) {

    #itemNaTela {
        top: 35%;
    }

    #quantidade {
        top: 35%;
    }

    #nomeItem {
       top: 0%;
    }

    #preco {
        bottom: 30%;
    }

    #pagar_total {
        transform: translateY(0%);
        height: max-content;
        bottom: 1%;
    }

    #todos {
        color: white;
        bottom: 3%;
        background-color: #16161D;
        border-radius: 10px;
    }

    #credito {
        height: max-content;
        bottom: 45%;
    }

    #debito {
        height: max-content;
        bottom: 20%;
    }

    #cancelar {
        height: max-content;
    }

    #editar {
        height: max-content;
    }

    #comprovante {
        top: 18%;
    }

    #final {
        top: 10%;
    }

    #unidadesPers {
        bottom: 20%;
    }

    #iconeCartao {
        top: 9%;
    }

    #impar, #par, #debito, #credito {
        height: max-content;
    }
}